---
import '@css/global.css';
import '@css/main.css';
import logo from '@assets/logo.png';
import Header from '@components/cHeader.astro';
import Input from '@components/cInput.astro';

import { ProductModel } from '@models/ProductModel';

const url = 'https://localhost:44314';

if(Astro.request.method === "POST"){
    const form = await Astro.request.formData();

    const product : ProductModel = {
        id : 0,
        description : form.get('Description') as string,
        code : form.get('Code') as string,
        price : Number(form.get('Price')),
        grossWeight : Number(form.get('GrossWeight')),
        netWeight : Number(form.get('NetWeight'))
    }

    const result = await fetch(`${url}/Product/NewProduct`,
    {
        method: "POST",
        headers : {"Content-type":"application/json; charset=UTF-8"},
        body: JSON.stringify(product)
    }).then(x => x.json());

    if(result == 200)
        return Astro.redirect('/Product/List');
}

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href={logo.src} type="image/x-icon">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SoftLine</title>
	</head>
	<body>
		<Header _action='/Home' _title='Back to main page'/>

        <div class="main">
            <div class="main-content">
                
                <h1>New Product</h1>
                
                <form method="POST">
                    <Input
                        _type="text"
                        _name="Description"
                        _id="description"
                        _class={['']}
                        _value=""
                        _required={true}
                        _placeholder="ex: My Product"/>


                    <Input
                        _type="text"
                        _name="Code"
                        _id="code"
                        _class={['']}
                        _value=""
                        _required={true}
                        _placeholder="ex: My Product"/>
                    
                    <Input
                        _type="number"
                        _name="Price"
                        _id="price"
                        _class={['']}
                        _value=""
                        _required={true}
                        _placeholder="ex: 9,99"/>

                    <Input
                        _type="number"
                        _name="GrossWeight"
                        _id="grossweight"
                        _class={['']}
                        _value=""
                        _required={true}
                        _placeholder="ex: 9,999 kg"/>

                    <Input
                        _type="number"
                        _name="NetWeight"
                        _id="netweight"
                        _class={['']}
                        _value=""
                        _required={true}
                        _placeholder="ex: 9,999 kg"/>

                    <button>Submit</button>
                </form>
                <a href={`/Product/List`}>List</a>
            </div>
        </div>
	</body>
</html>