---
import '@css/global.css';
import '@css/main.css';

import logo from '@assets/logo.png';
import Header from '@components/cHeader.astro';
import IconButton from '@components/cIconButton.astro';

import { CustomerModel } from '@models/CustomerModel';

const url = 'https://localhost:44314';

const response: CustomerModel[] = await fetch(`${url}/Customer/List`)
	.then(x => x.json());

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href={logo.src} type="image/x-icon">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SoftLine</title>
	</head>
	<body>
		<Header _action='/Home' _title='Back to main page'/>

		<div class="main">
			<div class="main-content">
				<h1>List of Customers</h1>
				<table>
					<tr>
						<th><a href={`/Customer/New`}>New</a></th>
						{
							Object.keys(new CustomerModel).slice(1).map(columnName => (
								<th>{columnName}</th>
							))
						}
					</tr>
					{
						response.map(r => (
							<tr id={r.id.toString()} >
								<td>
									<IconButton _name='mdi:edit' _action={`/Customer/Edit?id=${r.id}`} />
								</td>
								<td>{r.companyName}</td>
								<td>{r.tradeName}</td>
								<td>{r.document}</td>
								<td>{r.location}</td>
								<td>{String(r.active)}</td>
							</tr>
						))
					}
				</table>
			</div>
		</div>
	</body>
</html>
